[submodule "Cloudin-backend"]
	path = Cloudin-backend
	url = https://github.com/DolphinDatabase/Cloudin-backend.git

[submodule "Cloudin-frontend"]
	path = Cloudin-frontend
	url = https://github.com/DolphinDatabase/Cloudin-frontend.git